@model HomeViewModel
 <!--====== Slider Part Start ======-->

<section class="slider-area slider-3">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slider-active mt-30">
                    @foreach (var slider in Model.sliders)
                    {
                        <div class="single-slider">
                            <div class="slider-image">
                                <img style="width:1017px;height:585px" src="~/Uploads/Sliders/@slider.ImageUrl" alt="slider">
                            </div>
                            <div class="slider-content-wrapper">
                                <div class="slider-content">
                                    <h1 data-animation="bounceInDown" style="color:navajowhite" data-delay="0.2s" class="main-title ">@slider.Title</h1>
                                    <p data-animation="bounceInDown" style="color: lightgoldenrodyellow" data-delay="0.5s">@slider.Desc</p>
                                    <a data-animation="zoomIn" data-delay="0.8s" class="main-btn " href="shop-4-column.html">Shop Now</a>
                                </div>
                            </div>
                        </div> <!-- single slider -->
                    }
                   
                </div>
            </div>
            <div class="col-lg-4">
                @foreach (var banner in Model.banners)
                {
                    <div class="slider-banner mt-30">
                        <a href="shop-4-column.html"><img src="~/Uploads/Banners/@banner.ImageUrl" alt="banner"></a>
                    </div> <!-- slider banner -->
                }
              

            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>

<!--====== Slider Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<div class="features-banner-area pt-95">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            @foreach (var featuresBanner in Model.featuresBanners)
            {
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img style="width:49px;height:49px;" src="~/Uploads/FeaturesBanners/@featuresBanner.ImageUrl" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">@featuresBanner.Title</h3>
                        <p>@featuresBanner.Desc</p>
                    </div>
                </div> <!-- single features banner -->
            }
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</div>

<!--====== Features Banner Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                        
                            @foreach (var product in Model.products.Where(p=>p.IsNew==true))
                            {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id" class="icon ion-bag add-to-basket"></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                        
                        @foreach (var product in Model.products.Where(p => p.IsBestSeller == true))
                        {
                             <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="detail"asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id"><i class="icon ion-bag add-to-basket"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                      
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                       
                         @foreach (var product in Model.products.Where(p => p.IsFeatured == true))
                         {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image" >
                                        <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id"><i class="icon ion-bag add-to-basket"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                         }                   
                    <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Banner Part Start ======-->

<div class="banner-area pt-70">
    <div class="container-fluid custom-container">
        <div class="row">
            @foreach (var banner in Model.banners)
            {
                <div class="col-md-6">
                    <div class="banner-image banner-2">
                        <a href="shop-4-column.html"><img src="~/uploads/Banners/@banner.ImageUrl" alt="banner"></a>
                    </div> <!-- banner image -->
                </div>
            }
   
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Banner Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" role="tablist">
                        @foreach (var category in Model.categories)
                        {
                            <li class="nav-item" role="presentation">
                                <a  id="computer-tab" data-toggle="tab" href="#computer" role="tab" aria-controls="computer" aria-selected="false">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="computer" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row ">
                        <!------------------------------------------>
                        @foreach (var product in Model.products)
                        {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="~/Uploads/Products/@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id" class="icon ion-bag add-to-basket"></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                        <!------------------------------------------>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="smartphone" role="tabpanel" aria-labelledby="smartphone-tab">
                <div class="product-items">
                    <div class="row product-active">
                        <!------------------------------------------>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                        <img class="second-image" src="~/assets/images/product/product-2.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <!------------------------------------------>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="game-tab">
                <div class="product-items">
                    <div class="row product-active">
                        <!------------------------------------------>
                        <div class="col-lg-2">
                            <div class="single-product mt-30">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                        <img class="second-image" src="~/assets/images/product/product-2.jpg" alt="product">
                                    </a>
                                    <ul class="product-meta">
                                        <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                        <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                        <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <ul class="product-rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <h4 class="product-title"><a href="single-product.html">Cale 6 eu accumsan massa facilisis Madden by Steve</a></h4>
                                    <div class="product-price">
                                        <span class="price-sale">€11.90</span>
                                    </div>
                                </div>
                            </div> <!-- single product -->
                        </div>
                        <!------------------------------------------>
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Special Category Part Start ======-->

<section class="special-category-area pt-50">
    <div class="container-fluid custom-container">
        <div class="row">
            @foreach (var product in Model.products.Where(p=>p.Id==10))
            {
                <div class="col-lg-4">
                    <div class="special-product-2 mt-50">
                        <div class="special-product-countdown-2 mt-50">
                            <h2 class="special-title">Deal of the week</h2>
                            <div data-countdown=""></div>
                        </div> <!-- special product countdown -->

                        <div class="special-product-gallery-2">
                            <div class="product-gallery-image-2">
                                <div class="single-products-image">
                                    <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">

                                        <img src="~/Uploads/Products/@product.ProductImages.FirstOrDefault(pi=>pi.IsCover==true).ImageUrl" alt="products">
                                    </a>
                                </div>
                            </div>
                            <div class="product-gallery-thumb-2">
                                <ul class="product-thumb-2">
                                    <li><img src="~/Uploads/Products/@product.ProductImages.FirstOrDefault(pi=>pi.IsCover==false).ImageUrl"></li>
                                    @foreach (var productImage in product.ProductImages.Where(pi=>pi.IsCover==null))
                                    {
                                        <li><img src="~/Uploads/Products/@productImage.ImageUrl"></li>

                                    }
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="#">@product.Name</a></h2>
                            <ul class="products-rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="product-price-and-cart d-sm-flex align-items-center">
                                <div class="product-price">
                                    <span class="price-sale">€@product.CostPrice</span>
                                    <span class="regular-price">€@product.SalePrice</span>
                                </div>
                                <div class="product-cart">
                                    <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- special product -->
                </div>
            }
            <div class="col-lg-8">
                <div class="row justify-content-center mt-50">
                    <div class="col-lg-6">
                        <div class="section-title text-center pb-30">
                            <h2 class="title"> Categories</h2>
                        </div>
                    </div>
                </div> <!-- row -->
                <div class="row ">
                    @foreach (var category in Model.categories)
                    {
                        <div class="col-lg-3">
                            <div class="single-category text-center">
                                <a target="_blank" href="shop-left-sidebar.html">
                                    <img style="width:150px;height:150px" src="~/Uploads/Categories/@category.ImageUrl" alt="category">
                                    <p>@category.Name</p>
                                </a>
                            </div> <!-- single category -->         
                        </div>
                    }
                    

                </div> <!-- row -->
            </div>
        </div>
    </div> <!-- container -->
</section>

<!--====== Special Category Part Ends ======-->
<!--====== Blog Part Start ======-->

<section class="blog-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">From Our Blog </h2>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row blog-active">
            @foreach (var blog in Model.blogs)
            {
                <div class="col-lg-4">
                    <div class="single-blog">
                        <div class="blag-image">
                            <a href="blog-single-left-sidebar.html"><img style="width:350px;height:232px" src="~/Uploads/Blogs/@blog.ImageUrl" alt="Blog"></a>
                            <p class="meta-date">
                                <span class="day">@blog.CreatedDate.Day</span>
                                <span class="month">@blog.CreatedDate.ToString("MMM")</span>
                            </p>
                        </div>
                        <div class="blag-content">
                            <h2 class="blog-title"><a href="blog-single-left-sidebar.html">@blog.Title</a></h2>
                            <p>@blog.Desc</p>
                        </div>
                    </div> <!-- single blog -->
                </div>
            }
          
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Blog Part Ends ======-->
